<div class="schedule-table ">
    <table class="table">
        <thead>
            <tr>
                <th>№ ауд</th>
                <th>1 пара</th>
                <th>2 пара</th>
                <th>3 пара</th>
                <th>4 пара</th>
                <th>5 пара</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>230</th>
                <td><%- include('scheduleBlockAdmin') %></td>
                <td><%- include('scheduleBlockAdmin') %></td>
                <td><%- include('scheduleBlockAdmin') %></td>
                <td><%- include('scheduleBlockAdmin') %></td>
                <td><%- include('scheduleBlockAdmin') %></td>
            </tr>
            <tr>
                <th>226</th>
                <td><%- include('scheduleBlockAdmin') %></td>
                <td><%- include('scheduleBlockAdmin') %></td>
                <td><%- include('scheduleBlockAdmin') %></td>
                <td><%- include('scheduleBlockAdmin') %></td>
                <td><%- include('scheduleBlockAdmin') %></td>
            </tr>
            <tr>
                <th>225</th>
                <td><%- include('scheduleBlockAdmin') %></td>
                <td><%- include('scheduleBlockAdmin') %></td>
                <td><%- include('scheduleBlockAdmin') %></td>
                <td><%- include('scheduleBlockAdmin') %></td>
                <td><%- include('scheduleBlockAdmin') %></td>
            </tr>
            <tr>
                <th>224</th>
                <td><%- include('scheduleBlockAdmin') %></td>
                <td><%- include('scheduleBlockAdmin') %></td>
                <td><%- include('scheduleBlockAdmin') %></td>
                <td><%- include('scheduleBlockAdmin') %></td>
                <td><%- include('scheduleBlockAdmin') %></td>
            </tr>
            <tr>
                <th>223</th>
                <td><%- include('scheduleBlockAdmin') %></td>
                <td><%- include('scheduleBlockAdmin') %></td>
                <td><%- include('scheduleBlockAdmin') %></td>
                <td><%- include('scheduleBlockAdmin') %></td>
                <td><%- include('scheduleBlockAdmin') %></td>
            </tr>
            <tr>
                <th>219</th>
                <td><%- include('scheduleBlockAdmin') %></td>
                <td><%- include('scheduleBlockAdmin') %></td>
                <td><%- include('scheduleBlockAdmin') %></td>
                <td><%- include('scheduleBlockAdmin') %></td>
                <td><%- include('scheduleBlockAdmin') %></td>
            </tr>
        </tbody>
    </table>
</div>