<div class="schedule-table ">
    <table class="table">
        <thead>
            <tr>
                <th>№ ауд</th>
                <th>1 пара</th>
                <th>2 пара</th>
                <th>3 пара</th>
                <th>4 пара</th>
                <th>5 пара</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>230</th>
                <td><%- include('scheduleBlock') %></td>
                <td><%- include('scheduleBlock') %></td>
                <td><%- include('scheduleBlock') %></td>
                <td><%- include('scheduleBlock') %></td>
                <td><%- include('scheduleBlock') %></td>
            </tr>
            <tr>
                <th>226</th>
                <td><%- include('scheduleBlock') %></td>
                <td><%- include('scheduleBlock') %></td>
                <td><%- include('scheduleBlock') %></td>
                <td><%- include('scheduleBlock') %></td>
                <td><%- include('scheduleBlock') %></td>
            </tr>
            <tr>
                <th>225</th>
                <td><%- include('scheduleBlock') %></td>
                <td><%- include('scheduleBlock') %></td>
                <td><%- include('scheduleBlock') %></td>
                <td><%- include('scheduleBlock') %></td>
                <td><%- include('scheduleBlock') %></td>
            </tr>
            <tr>
                <th>224</th>
                <td><%- include('scheduleBlock') %></td>
                <td><%- include('scheduleBlock') %></td>
                <td><%- include('scheduleBlock') %></td>
                <td><%- include('scheduleBlock') %></td>
                <td><%- include('scheduleBlock') %></td>
            </tr>
            <tr>
                <th>223</th>
                <td><%- include('scheduleBlock') %></td>
                <td><%- include('scheduleBlock') %></td>
                <td><%- include('scheduleBlock') %></td>
                <td><%- include('scheduleBlock') %></td>
                <td><%- include('scheduleBlock') %></td>
            </tr>
            <tr>
                <th>219</th>
                <td><%- include('scheduleBlock') %></td>
                <td><%- include('scheduleBlock') %></td>
                <td><%- include('scheduleBlock') %></td>
                <td><%- include('scheduleBlock') %></td>
                <td><%- include('scheduleBlock') %></td>
            </tr>
        </tbody>
    </table>
</div>
<script>
    let a = document.querySelectorAll('tr>td');
    function pastLesson(...lessons){
        lessons.forEach(element => {
            element.classList.add('gray');
        });
    }
    function controlLessons(){
        let time = new Date(),
            hours = time.getHours(),
            minutes = time.getMinutes();
        if(hours>=18){
            pastLesson(...a);
        }else if(hours>=16 ){
            pastLesson(a[0], a[5], a[10], a[15], a[20], a[25], a[1], a[6], a[11], a[16], a[21], a[26], a[2], a[7], a[12], a[17], a[22], a[27], a[3], a[8], a[13], a[18], a[23], a[28]);
        }else if(hours>=14 ){
            pastLesson(a[0], a[5], a[10], a[15], a[20], a[25], a[1], a[6], a[11], a[16], a[21], a[26], a[2], a[7], a[12], a[17], a[22], a[27]);
        }else if(hours>=12 ){
            pastLesson(a[0], a[5], a[10], a[15], a[20], a[25], a[1], a[6], a[11], a[16], a[21], a[26]);
        }else if(hours>=10 ){
            pastLesson(a[0], a[5], a[10], a[15], a[20], a[25]);
        }
    }
    setInterval(controlLessons(), 300000);
</script>